/*总体*/

body{
	background-image:url(../img/bg.jpg);
	font-family: 宋体;
	margin: 0;
	background-attachment: fixed;
	text-align: center;
}

.about,.table,.portfolio,.team,.contact,.sec{
	padding-left: 18%;
	padding-right: 18%;
	padding-top: 5%;
}
.copyright{
	padding-left: 18%;
	padding-right: 18%;
}


/*导航条*/

.navbar-header a{
	font-size: 2em;
	color:darkcyan;
	margin-top: 12px;
}
.span{
	color: darkgrey;
	font-size: 2em;
}
.navbar-right{
	color: darkgrey;
}
/*巨幕*/

.jumbotro{

	   width: 100%;
       	color: white;
    background-repeat: no-repeat;		/*背景仅显示一次*/
    padding: 200px;
    text-align: center;
    line-height: 30px;
}
.hp{
	font-size: 1.5em;
	margin-top: 50px;
}
.a{
	display: inline-block;		/*内联对象为同一行*/
	padding: 10px 15px;
	border: solid 1px #fff;
	border-radius: 5px;			/*圆角边框*/
	color: white;
}
.a:hover{
	background: #fff;
	color: #333;
	color: black;
}

/*关于我们*/
.row{
	background-color: white;	
}
.about img{
	width: 90%;
	max-width: 500px;
	display: block;
	margin: auto;
}
.about table{
	width: 100%;
}
.about tr:nth-child(2n){
	background: #F9F9F9;
}
.about th,.about td{
	border-bottom: solid 1px #ccc;
	height: 40px;
	text-align: left;
}
.about tr:first-child th{
	border-bottom: solid 2px #ccc;
}
.about th:first-child{
	width: 40px;
}

/*本科专业介绍*/

.table p,.table span{
	color: white;
}

.center{
	color: white;
}
.glyphicon{
	font-size: 6em;

}
/*实训环境*/
.portfolio h3{
	color: black;
}
.portfolio{
	background-color: white;
	margin-top: 26%;
}
/*优秀毕业生*/

.team{
	line-height: 200%;
}
.team img{
	width: 60%;
}
.team section{
	color: white;
}

.be{
	color: white;
	margin-top: 30%;
}


/*联系我们*/
.row h3{
	color: black;
}

.row span{
	font-size: 1.5em;
	color: darkturquoise;
}
.row p{
	color: black;
	font-size: 1em;
	margin-top: 10%;
}
.fly{
	background-color: white;
	padding-top: 3%;
	padding-left: 30%;
	padding-right: 30%;
	text-align: center;
}


.row{
	margin-top: 5%;
}
.class{
	background-color: white;
	color: white;
}
.from-control{
	width: 100%;
}
/*底部*/
footer{
	padding: 40px 20px;
	color: #999;
	font-size: 1.4rem;
	background: #333;
}

footer span{
	font-size: 2.2rem;
}
footer span:hover{
	color: aquamarine;
}
.copyright span{
	font-size: 1.5em;
	float: right;
	margin-top: -20px;
	letter-spacing: 10px;		/*字符间距*/
}

.copy{
	margin-right: 70%;
}

@media all and (min-width:1024px){
	.about,.portfolio,.team,.footer,.row,.fly,.table{
		padding-left: calc( (100% - 1000px) / 2 );
		padding-right: calc( (100% - 1000px) / 2 );
	}

@media all and (min-width:768px){
	.container-fluid{
		padding-left: calc( (100% - 900px) / 2 );
		padding-right: calc( (100% - 900px) / 2 );
	}